<div class="page">
    <div class="row" ng-show="item !== undefined">
        <div class="column small-12 large-5">
            <img src="http://lorempixel.com/400/200/" alt="" class="w100p">
        </div>
        <div class="column small-12 large-7">
            <h1>{{item.name}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, laborum, at a expedita cupiditate sunt aspernatur provident obcaecati exercitationem dolorem odio placeat deleniti veritatis libero quasi iusto ut ipsum reprehenderit officiis voluptatem repellat velit nemo. Magnam, obcaecati, reprehenderit nobis ut dolor veniam architecto odit illum voluptatum iste quidem quod suscipit inventore modi deleniti. Perferendis, facere, repellat, ad, non tenetur voluptatem rem provident ea sapiente fugiat possimus beatae maiores mollitia consectetur qui quae quibusdam velit sequi. Nulla, eum, in, consectetur beatae maiores dolore eveniet totam eos neque perspiciatis adipisci accusamus rerum quia vitae minus earum asperiores culpa voluptatibus magni commodi praesentium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat hic alias! Aut at alias quos repellat adipisci similique tenetur ut. Omnis, cum iste vero ducimus est possimus voluptates nemo!</p>
        </div>
    </div>
    <p ng-show="item === undefined" class="tac">Oopps something is quite not working. So handle this empty state</p>
</div>