<div class="page">

		<p class="tac">This calendar is built with the beautiful, minimal calendar plugin for jQuery CLNDR</p>

		<form action="">
			<input type="text" ng-model="newEvent.title">
			<input type="date" ng-model="newEvent.date">
			<div class="button" ng-click="addEvent()">Add new date</div>
		</form>
		<a href="" ng-click="removeEvent()">Remove event</a>

		<div class="calendar"
		mb-calendar="events"
		mb-calendar-options="calendarOptions"></div>

		<ul class="listview">
			<li ng-repeat="event in events" class="row column medium-6" ng-click="getDetails(event)">
				<div class="column small-12">
					<h3>{{event.title}}</h3>
					<h6>{{event.date}}</h6>
				</div>
			</li>
		</ul>

</div>